@import "compass/css3";

.modal {
  border-radius: 6px;
  height: 70%;
  margin: 0% 8% 13%;
  padding: 2%;
  position: fixed;
  opacity: .97;
  overflow: hidden;
  top: 15%;
  width: 80%;

  @include background-image(linear-gradient(top,  #f4f4f4 0%, #dbdbdb 100%));
  @include box-shadow(0 0 12px rgba(0, 0, 0, .21));
}

  .modal h2,
  .modal h3 {
    margin: 1em 0;
  }

  .modal h2 {
    font-size: 3.2em;
  }

  .modal h3 {
    font-size: 2em;
    font-weight: normal;
  }

  .modal p {
    color: #666;
    font-size: 1.1em;
  }

  .modal img {
    display: block;
    margin: 0 auto;
  }

  .modal a,
  .modal a:active,
  .modal a:link,
  .modal a:visited {
    color: rgb(0,82,255);
  }

  .modal a:hover {
    color: rgb(0,31,255);
  }

  .modal .modal-content {
    height: 100%;
    overflow: auto;
    padding-right: 12px;
  }

  .modal table {
    font-size: 1.3em;
    margin: 30px auto 14px;
  }

    .modal table em {
      font-weight: normal;
    }

    .modal th[colspan="2"] {
      padding-bottom: 12px;
    }
